.header-container{
    align-items: center;
    font-family: sans-serif;
    padding: 10px 0px;

}
.header-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap:70px;
    align-items: center;
}
.header-span{
    margin-left: 10px;
}
.header-menu{
     display: flex;
     justify-content: space-between !important;
     align-items: center;
     gap: 10px;
     padding: 10px 0px ;
}

p{
    margin-bottom: 7px;
    font-family: "Montserrat" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
}
.btn_p{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Montserrat , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    padding: 9px 23px;
    background-color: transparent;
    border: 2px solid #eb4d4d;
    color: #eb4d4d;
}
.header-logo{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.nav-link{
     
    color: rgba(0, 0, 0, .5);
    transition: all 0.3s ease ;
  
}
.nav-link:hover{
    color: black;
}
.header-lead{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #2f60dd;
    font-style: normal;

}
.header-icon{
    font-size: 35px;
    color: #31a9dd;
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
}
.header-icon:hover{
    color: #eb4d4d;
    
}
.header-text{
    width: 212px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
    margin-bottom: 0;
}

.header-next-text{
    text-align: center;
}
.navbar-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    display: none;
    width: 30px;
    height: 30px;
}

@media (max-width:940px){
 .header-list{
    display: none;
 }
 .navbar-icon{
    display: block;
 }
 .header-menu{
    display:flex;
    justify-content: space-between;
 }
}
    

















@media(max-width:1200px){
    .container{
        width: 1100px;
    }

}
@media(max-width:1120px){
  .container{
      width: 1000px;
  }
  
}
@media(max-width:1020px){
  .container{
      width: 900px;
  }
  

  
}
@media(max-width:920px){
  .container{
      width: 800px;
  }
  
}
@media(max-width:820px){
  .container{
      width: 700px;
  }
  
 
 
}
@media(max-width:720px){
  .container{
      width: 600px;
  }
  
  
  
}

@media(max-width:620px){
  .container{
      width: 500px;
  }
  

 

}
@media(max-width:520px){
  .container{
      width: 400px;
  }
  
  
}
@media(max-width:420px){
  .container{
      width: 300px;
  }
  
  
  
  
}

@media(max-width:320px){

}